<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctstudio.production.firstround" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Service for handling data and messages from the wearable.
             Note, there can only be one Service for BIND_LISTENER. -->
        <service
            android:name=".WearableConfigListenerService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <!-- Activity that receives all watch face configuration requests on the companion -->
        <activity
            android:name=".ConfigActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.ctstudio.production.firstround.config"/>
                <category android:name="com.google.android.wearable.watchface.category.COMPANION_CONFIGURATION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
